<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>Steam.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}$</string>
			<key>Title</key>
			<string>Steam</string>
			<key>URL</key>
			<string>https://store.steampowered.com/search/?term={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://store.steampowered.com/search/</string>
			<key>Name</key>
			<string>Steam</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>v@gmail.com</string>
			<key>Name</key>
			<string>V</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search the web in zhihu.</string>
	<key>Extension Identifier</key>
	<string>com.snowzjx.popclip.extension.Steam</string>
	<key>Extension Image File</key>
	<string>Steam.png</string>
	<key>Extension Name</key>
	<string>Steam Search</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
